<mat-toolbar>
  Wimera
  <div class="prof">
    <button color="primary" mat-icon-button [matMenuTriggerFor]="belowMenu">
      <mat-icon [inline]="true" class="account">account_circle</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="above">
      <ng-container *ngFor="let coll of DropDown; let colIndex = index">
        <button (click)="onProfile()" mat-menu-item>
          {{ coll.value }}
        </button>
      </ng-container>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content>
    <app-op-dashboard></app-op-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
