<mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
  <ng-container *ngFor="let cell of cells; let i = index">
    <mat-tab label="{{ cell }}">
      <div class="wrapper">
        <section class="left">
          <ng-container *ngFor="let cell of lists">
            <button
              mat-raised-button
              color="primary"
              (click)="onClick(i, cell)"
            >
              {{ cell }}
            </button>
          </ng-container>
        </section>
        <section class="right">
          <!-- <h1>Table data</h1> -->
          <app-machine-list></app-machine-list>
        </section>
      </div>
    </mat-tab>
  </ng-container>
</mat-tab-group>
